.about {
    background-color: rgb(34, 90, 195);
    overflow: hidden; /* Ensures content does not overflow */
    color: white;
    margin: 0;
    padding: 0;
    text-align: center; /* Center-align text within the link */
    text-decoration: none; /* Remove underline from links */
  }
  