.resume {
    background-color: rgb(34, 90, 195);
    overflow: hidden; /* Ensures content does not overflow */
    color: white;
    margin: 0;
    padding: 0;
    text-align: center; /* Center-align text within the link */
    text-decoration: none; /* Remove underline from links */
  }
  
  .resume_blocks {
    background-color: rgb(50, 102, 197);
    overflow: hidden; /* Ensures content does not overflow */
    color: white;
    margin: 40px;
    padding: 20px;
    text-align: center; /* Center-align text within the link */
    text-decoration: none; /* Remove underline from links */

    background-color: #0442a7;
    margin: 20px;
    padding: 20px;
  }

  .resume_head {
    background-color: rgb(50, 102, 197);
    overflow: hidden; /* Ensures content does not overflow */
    color: white;
    margin: 40px;
    padding: 20px;
    text-align: left; /* left-align text within the link */
    text-decoration: none; /* Remove underline from links */

    background-color: #0442a7;
    margin: 20px;
    padding: 20px;
  }

  .resume_info {
    background-color: rgb(50, 102, 197);
    overflow: hidden; /* Ensures content does not overflow */
    color: white;
    margin: 60px;
    padding: 20px;
    text-align: left; /* left-align text within the link */
    text-decoration: none; /* Remove underline from links */

    background-color: #0442a7;
    margin: 20px;
    padding: 20px;
  }